body {
    border: 1px solid darkblue;
    width: 50%;
    margin: auto 25%;
    text-align: center;
}

#gallery {
    position: relative;

    height: 452px;
    width: 400px;

    margin: auto;
    border: 2px solid indianred;
    border-radius: 5px;

    box-shadow: 5px 5px 10px brown;
    -moz-box-shadow: 5px 5px 10px brown;
    -o-box-shadow: 5px 5px 10px brown;
    -webkit-box-shadow: 5px 5px 10px brown;

    overflow: hidden;
}

/*both arrows*/
.arrow {
    height: 150px;
    vertical-align: middle;
    text-decoration: none;
    background-color: grey;
    font-size: 100px;
    font-weight: 500;
    text-shadow:  4px 3px 9px rgba(150, 150, 150, 1);
    color: black;
    opacity: 0.6;
    bottom: 0;
    z-index: 2;
}

#arrowLeft {
    position: absolute;
    left: 0;
}

#arrowRight {
    position: absolute;
    left: 345px;
}

#description {
    margin: auto 10%;
    position: absolute;
    text-align: center;
    top: 0;
    background-color: bisque;
    opacity: 0.6;
    width: 80%;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#description:hover {
    opacity: 1;
}

#big-image {
    height: 300px;
    width: 400px;

    box-shadow: 0 0 10px brown;
    -moz-box-shadow: 0 0 10px brown;
    -o-box-shadow: 0 0 10px brown;
    -webkit-box-shadow: 0 0 10px brown;

    border-bottom: 2px solid indianred;
}

/*wrapper for all images*/
#wrapper {
    width: 1600px;
    position: absolute;
}

/*wrapper for separate images*/
.image {

    float: left;
    height: 150px;
    width: 200px;
}

/*image tag*/
.img-inner {
    width:auto;
    max-width:100%;
    height:auto;
}